@font-face {
    font-family: roboto;
    src: url(Roboto-Black.ttf);
}

body    {
        background-color:  #00abb8c2;
        font-family: roboto;
}

h1  {
    font-family: roboto;
    text-align: center;
}

h2  {
    text-align: center;
}

.boxed  {
    background-color: rgb(255, 255, 255);
    text-align: center;
    max-width: 100%;
    min-width: 70;
    width: auto;
    border: 2px solid rgb(99, 245, 255);
    padding: 50px;
    margin: 20px;
    box-shadow: 10px 20px rgba(0, 0, 0, 0.397);
    border-radius: 7px;
    }